<!DOCTYPE html>
<html ng-app="discGolf">

<head>
    <meta charset="utf-8">
    <title>disc golf</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('main.js');
    </script>

</head>

<body ng-controller="myController">
<div ng-repeat="data in datas">
    <h1>{{data.title}}</h1>
    <table class="pure-table">
        <thead>
        <tr>
            <td>Participant</td>
            <td>Total</td>
            <td ng-repeat="score in data.scores">#{{$index + 1}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="name in data.peoples">
            <td>
                {{name}}
            </td>
            <td>{{data.scores | total:name}} <small>({{data.scores | totalToPar:name}})</small></td>
            <td ng-repeat="score in data.scores">
                {{(score.par || 3) + (score[name] || 0)}}
                <small>(<span ng-if="(score[name] || 0) >= 0">+</span>{{score[name] || 0}})</small>
            </td>

        </tr>
        </tbody>
        <thead>
        <tr>
            <td>Par</td>
            <td>{{data.scores | coursePar}}</td>
            <td ng-repeat="score in data.scores">{{score.par || 3}}</td>
        </tr>
        </thead>
    </table>
</div>
</body>

</html>
