<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <a ui-sref="tours">Disc golf Tours</a>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button md-raised" aria-label="Add">
            <md-icon> add</md-icon>
        </md-button>
    </div>
</md-toolbar>

<ui-view>
    <md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
        <div flex-xs flex-gt-xs="50"
             ng-repeat="tour in $ctrl.tours">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{tour.name}}</span>
                        <span class="md-subhead">{{tour.date | date:'medium'}} <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, laborum.</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ui-sref="tours.details({id: tour.name})">View</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</ui-view>